/***************
GLOBAL STYLES
***************/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $body;
  text-transform: uppercase;
  line-height: 1.75;
  font-size: 112.5%; // 18px base font size
  color: white;
  background-image: url(/assets/img/bg-main.jpg);
  background-color: #d996fc;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    background-image: url(/assets/img/bg-overlay.png);
    background-position: fixed;
    background-color: #4392c1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0.2;
  }

  p,
  ul {
    margin: 0 0 2rem;
  }

  p {
    color: $teal;
    font-style: italic;
    font-size: rem(30);
    line-height: 1.2;
  }
}

header,
main,
footer {
  position: relative;
  z-index: 2;
}

// Text Selection Styling
::-moz-selection {
  background: $orange;
  color: white;
}

::selection {
  background: $orange;
  color: white;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($wraps, wrap);
  padding-left: rem(20);
  padding-right: rem(20);
}

/***************
MEDIA
***************/

// Media Styling
img,
video,
audio,
iframe,
object {
  max-width: 100%;
}
