---
layout: default
title: EtherBlack Industries
---

<div class="home" id="home">

  <h1 class="homeTitle wrap">
    <span class="homeTitle__lineOne">A rogue group of</span>
    <span class="homeTitle__lineTwo">creators serving</span>
    <span class="homeTitle__lineThree">capitalism for the</span>
    <span class="homeTitle__lineFour">digital age</span>
  </h1>

  <div class="specimenSlider">
    <h2 class="specimenSlider__heading">Case Speciments</h2>
    {% for specimen in site.specimen %}
      {% if specimen.featured %}
      <a class="workItem" href="{{ specimen.url }}">
        {{ specimen.title }}
      </a>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="homeSubTitle wrap">
    <span class="homeSubTitle__lineOne">Masons of</span>
    <span class="homeSubTitle__lineTwo">form and thought</span>
  </h2>

</div>
