---
layout: default
title: EtherBlack Industries
---

<div class="home" id="home">
  <h1 class="homeTitle wrap">
    <img
      class="glitch-img"
      src="/assets/img/home-heading01.svg"
      alt="A rogue group of creators serving capitalism for the digital age."
    />
  </h1>

  <div class="specimenSlider">
    <h2 class="specimenSlider__heading">Case Specimens</h2>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for specimen in site.specimen %} {% if specimen.featured %}
          <li class="slide__slide">
            <div class="workItem" href="{{ specimen.url }}">
              <img
                src="/assets/img/{{ specimen.featured-image }}"
                alt="{{ specimen.title }}"
              />
              <span class="workItem__details">
                <h3 class="workItem__heading">{{ specimen.title }}</h3>
                {% for tag in specimen.tags %}
                <span class="workItem__tag">{{ tag }}</span> {% endfor %}
              </span>
            </div>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <img
              src="{{ site.url }}/assets/img/arrows-left.svg"
              alt="Previous Specimen"
            />
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <img
              src="{{ site.url }}/assets/img/arrows-right.svg"
              alt="Next Specimen"
            />
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="homeSubTitle wrap">
    <img
      class="glitch-img"
      src="/assets/img/home-heading02.svg"
      alt="Masons of form and thought."
    />
  </h2>
</div>
