---
layout: default
title: EtherBlack Industries
---

<div class="home" id="home">
  <h1 class="homeTitle wrap">
    <img
      class="glitch-img"
      src="/assets/img/home-heading01.svg"
      alt="A rogue group of creators serving capitalism for the digital age."
    />
  </h1>

  <div class="specimenSlider">
    <h2 class="specimenSlider__heading">Case Specimens</h2>
    {% for specimen in site.specimen %} {% if specimen.featured %}
    <a class="workItem" href="{{ specimen.url }}">
      <img
        src="/assets/img/{{ specimen.featured-image }}"
        alt="{{ specimen.title }}"
      />
      <span class="workItem__details">
        <h3 class="workItem__heading">{{ specimen.title }}</h3>
        {% for tag in specimen.tags %}
        <span class="workItem__tag">{{ tag }}</span> {% endfor %}
      </span>
    </a>
    {% endif %} {% endfor %}
  </div>

  <h2 class="homeSubTitle wrap">
    <img
      class="glitch-img"
      src="/assets/img/home-heading02.svg"
      alt="Masons of form and thought."
    />
  </h2>
</div>
