header {
  text-align: center;
  padding-top: rem(20);
}

.headerNav {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: rem(40);
    width: 100%;
    background-image: url(/assets/img/bg-overlay.png);
    background-color: $orange;
    background-blend-mode: overlay;
    z-index: -1;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__link {
    display: inline;

    a {
      text-decoration: none;
      padding-left: rem(8);
      font-family: $heading;
      font-weight: 900;
      color: black;
      display: inline;
      font-size: rem(12);
      font-style: italic;
      letter-spacing: rem(2);

      @include min(md) {
        padding-left: rem(40);
        font-size: 1em;
      }

      &:hover {
        color: darken($orange, 20%);
      }
    }

    &--home {
      padding-left: rem(8);
      padding-right: rem(8);

      @include min(md) {
        padding-left: rem(30);
        padding-right: rem(30);
      }

      a {
        display: inline-block;
        padding: 0;
      }

      img {
        width: rem(60);
        vertical-align: middle;

        @include min(md) {
          width: auto;
        }
      }
    }
  }
}
