<header class="header">
  <div class="header__container">
    <nav class="headerNav">
      <ul class="noList">
        <li class="headerNav__link"><a href="/about">About</a></li>
        <li class="headerNav__link"><a href="/services">Services</a></li>
        <li class="headerNav__link headerNav__link--home">
          <a href="/"
            ><img src="/assets/img/logo.svg" alt="EtherBlk Home Page"
          /></a>
        </li>
        <li class="headerNav__link">
          <a href="#" class="modalTrigger">Hire</a>
        </li>
        <li class="headerNav__link">
          <a href="https://etherblack.bigcartel.com/" target="_blank">Store</a>
        </li>
        <li class="headerNav__link headerNav__link--menu">
          <a class="menuTrigger" href="/">Menu</a>
        </li>
      </ul>
    </nav>

    <nav class="mobileNav">
      <ul class="noList">
        <li class="mobileNav__link">
          <a href="/" class="menuTrigger">Close</a>
        </li>
        <li class="mobileNav__link mobileNav__link--home">
          <a href="/"
            ><img src="/assets/img/logo.svg" alt="EtherBlk Home Page"
          /></a>
        </li>
        <li class="mobileNav__link"><a href="/about">About</a></li>
        <li class="mobileNav__link"><a href="/services">Services</a></li>
        <li class="mobileNav__link">
          <a href="#" class="modalTrigger">Hire</a>
        </li>
        <li class="mobileNav__link">
          <a href="https://etherblack.bigcartel.com/" target="_blank">Store</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- end .header -->
