<!-- Add jQuery and other scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
  window.jQuery ||
    document.write(
      "<script src=\"{{ '/assets/js/jquery-1.11.2.min.js' | prepend: site.baseurl }}\"><\/script>"
    );
</script>
{% include lazyLoad.html %} {% if page.id == 'home' %}
<script src="{{ '/assets/js/mgGlitch.min.js'  | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  $(function() {
    $(".glitch-img").mgGlitch({
      destroy: false, // set 'true' to stop the plugin
      glitch: true, // set 'false' to stop glitching
      scale: false, // set 'false' to stop scaling
      blend: true, // set 'false' to stop glitch blending
      blendModeType: "hue", // select blend mode type
      glitch1TimeMin: 600, // set min time for glitch 1 elem
      glitch1TimeMax: 900, // set max time for glitch 1 elem
      glitch2TimeMin: 10, // set min time for glitch 2 elem
      glitch2TimeMax: 115, // set max time for glitch 2 elem
      zIndexStart: 8 // because of absolute position, set z-index base value
    });
  });
</script>
<script src="{{ '/assets/js/glide.min.js'  | prepend: site.baseurl }}"></script>
<script>
  new Glide(".glide").mount();
</script>
{% endif %}
<script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>
