.glide__slides {
  margin: 0;
}
.glide__arrows {
  @include max(md) {
    display: none;
    position: relative;
  }
}

.glide__arrow {
  position: absolute;
  top: 50%;
  left: rem(10);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: rem(10);
  transition: .2s all ease-in-out;
  transform: translateX(-100%);

  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid $orange;
  }

  &--right {
    left: inherit;
    right: rem(10);
    transform: translateX(100%);
  }
}

.glide {
  &:hover {
    .glide__arrow {
      transform: none;

      &--right {
        transform: none;
      }
    }
  }
}
