#about {
  .content {
    @include min(md) {
      padding-bottom: 16rem;
      margin-bottom: 18rem;
    }
  }
}

.aboutWrap {
  padding-left: rem(20);
  padding-right: rem(20);
}

.aboutContent {
  @include min(md) {
    display: flex;
  }

  &__left {
    @include min(md) {
      flex: 0 1 70%;
      padding-right: rem(100);
    }
  }

  &__right {
    @include min(md) {
      flex: 0 1 30%;
    }

    h3 {
      text-align: center;
      background-color: $orange;
      color: black;
      border-radius: rem(40) rem(40) 0 0;
      padding: rem(10) 0;
      margin-bottom: 0;
      font-family: $digital;
      font-style: normal;
    }
  }

  form {
    padding: rem(40);
    border: 1px solid $orange;
    border-radius: 0 0 rem(40) rem(40);

    input {
      width: 100%;
    }

    input[type="submit"] {
      width: auto;
    }
  }

  .formSubmit {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(20);
  }
}

.aboutClients {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(100);
  padding-top: rem(20);
  padding-bottom: rem(20);

  img {
    padding: rem(10) rem(20);
  }
}

.team {
  text-align: center;

  @include min(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 100%;
    max-width: map-get($wraps, wrap);
  }

  @include min(wrap) {
    left: calc((100% - 1440px) / 2);
  }
}

.teamMember {
  @include min(md) {
    flex: 1;
    padding-left: rem(10);
    padding-right: rem(10);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__name {
    font-family: $digital;
  }

  &__title {
    font-family: $digital;
    color: black;
    background-color: $orange;
    mix-blend-mode: hard-light;
    display: inline-block;
    padding-left: rem(10);
    padding-right: rem(10);
    margin: 0;
    position: relative;
    top: rem(10);
    line-height: 1.2;
    font-size: rem(18);
  }
}
