.homeTitle,
.homeSubTitle {
  text-align: center;
  span {
    display: block;
  }
}

.homeTitle,
.homeSubTitle {
  padding: rem(10) rem(10);

  @include min(md) {
    padding: rem(30) rem(10);
  }

  img {
    opacity: 0.7;
    position: absolute;
    left: 5%;
    width: 90%;
  }
}

.homeTitle.wrap {
  min-height: 35vw;
}

.homeSubTitle.wrap {
  min-height: 21vw;
}

.specimenSlider {
  background-color: black;
  position: relative;
  padding: rem(10) 0;

  &__heading {
    position: absolute;
    top: rem(5);
    left: 0;
    transform: translateY(-50%);
    background-color: black;
    font-family: $digital;
    color: $orange;
    font-size: rem(20);
    padding: rem(10) rem(20);
    border-radius: 0 rem(10) rem(10) 0;
    margin: 0;
    z-index: 10;
    font-style: normal;
    font-weight: normal;

    &:before {
      content: ":";
      padding-right: rem(8);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .workItem {
    text-decoration: none;
    position: relative;

    &__details {
      background-color: black;
      padding: rem(20);
      width: 100%;
      display: block;
      text-align: center;

      @include min(md) {
        position: absolute;
        left: 0;
        width: auto;
        text-align: left;
        top: rem(80);
        padding: rem(10) rem(20) rem(10) rem(30);

        &:before {
          content: url(/assets/img/specimen-lines.svg);
          position: absolute;
          left: 0;
          top: rem(10);
          height: rem(36);
          width: rem(10);
        }
      }
    }

    &__heading {
      margin: 0;
      font-weight: 600;
    }

    &__tag {
      color: $teal;
      font-family: $digital;
    }
  }
}
